<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>AMI MOVIES</title>
        <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="..\static\css\landing_page.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <img src="..\static\img\logo_2.png"  style="height:90px ;" alt="">
                <a class="navbar-brand" href="#!">AMI MOVIES</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    
        <!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            <div  class="container px-5 my-5">
                <div class="row gx-5">
                      <div class="card mb-3" style="max-width: 800px ; ">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="..\static\img\THE LORD OF THE RINGS.jpg" class="img-fluid rounded-start" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">THE LORD OF THE RINGS</h5>
                              <p class="card-text">This is a wider card with supporting text below aSauron's armiesth, the capital of GondorSauron's armies attacked Minas Tirith, the capital of GondorSauron's armies attacked Minas Tirith, the capital of Gondorss a natural lead-in to additional content. This content is a little bit longer.</p>
                              <h4>place : </h4>
                              <h4>Time : </h4>
                              <h4>Price :  $15 </h4>
                              <div class="d-grid gap-2 d-md-block">
                                <button  class="btn btn-primary" type="button">Buy</button>
                              </div>
                            </div>
                            
                          </div>
                         
                        </div>
                        
                      </div>
                </div>
            </div>
        </section>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
