<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>AMI MOVIES</title>
        <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="..\static\css\landing_page.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <img src="..\static\img\logo_2.png"  style="height:90px ;" alt="">
                <a class="navbar-brand" href="#!">AMI MOVIES</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class=" py-5" style="background-image: url(../static/img/bg-image.png);">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">Your Movies are Here !</h1>
                            <p class="lead text-white-50 mb-4">Book a ticket and enjoy your time with our movies</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Log in</a>
                                <a class="btn btn-outline-light btn-lg px-4" href="#!">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div><img src="..\static\img\THE LORD OF THE RINGS.jpg" style="height: 100px;  width: 100px;" alt=""></div>
                        <h2 class="h4 fw-bolder">THE LORD OF THE RINGS</h2>
                        <p>Sauron's armies attacked Minas Tirith, the capital of Gondor. Never has this once mighty kingdom needed its king so much. But will Aragorn find in him the will to fulfill his destiny?
                            As Gandalf struggles to support the broken forces of Gondor, Théoden urges the warriors of Rohan to join the fight.</p>
                        <a class="text-decoration-none" href="#!">
                            Book your seat
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div><img src="..\static\img\THE GREEN LINE.jpg" style="height: 100px;  width: 100px;" alt=""></div>                        <h2 class="h4 fw-bolder">THE GREEN LINE</h2>
                        <p>Paul Edgecomb, a hundred-year-old resident of a nursing home, is haunted by his memories. Chief warden of Cold Mountain Penitentiary in 1935, he was responsible for ensuring the smooth running of capital executions by striving to soften the last moments of the condemned...</p>
                        <a class="text-decoration-none" href="#!">
                            Book your seat
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <div><img src="..\static\img\BLACK PANTHER.jpg" style="height: 100px;  width: 100px;" alt=""></div>                        <h2 class="h4 fw-bolder">BLACK PANTHER</h2>
                        <p>Queen Ramonda, Shuri, M'Baku, Okoye, and the Dora Milajes struggle to protect their nation from interference from other world powers after the death of King T'Challa. As the people struggle to move forward, our heroes will have to band together and rely on the help of mercenary...</p>
                        <a class="text-decoration-none" href="#!">
                            Book your seat
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
